.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: inherit;
  justify-content: center;
  margin: 10px;
}

@media(max-width: 500px) {
  .section {
    flex-direction: column;
  }
}